{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initiaL-scale=1.0">
    <title>Django project</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="{% url 'index' %}"> Inicio</a>
            </li>
            <li>
                <a href="{% url 'projects' %}"> Proyectos</a>
            </li>
            <li>
                <a href="{% url 'tasks' %}"> Tareas</a>
            </li>
            <li>
                <a href="{% url 'create_project' %}"> Crear Proyectos</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}"> Crear Tareas</a>
            </li>
            <li>
                <a href="{% url 'about' %}"> Acerca de Mi</a>
            </li>
        </ul>
    </nav>
    <main class="container">
        {% block content %}{% endblock content %}
    </main>
    
</body>
</html>